/* STYLE */

/********/
/* MENU */
/********/
.nav-title {
  font-family: 'Lobster';
  font-size: 30px !important;
}
.green {
  color: #33CD5F !important;
}
.right {
  text-align: right !important;
}
.my-bar{
  border-color: #33CD5F !important;
}
.my-width{
  width: 70% !important;
}
.my-background-green{
  background-color: #33CD5F;
}
.my-background-white{
  background-color: #FFFFFF;
}
.no-border{
  border:none !important;
}
.white{
  color: #FFFFFF;
}
/********/

/********/
/* HOME */
/********/
.width-max{
  width:100%;
}
.my-clear-button{
  color: grey;
}
.itemDiv{
  text-align: center;
}
.itemDiv img{
  width: 100%;
  border-radius: 5px;
}
.no-padding {
    padding: 0px;
    border:0;
}
.fixed-outside-up{
  position: absolute;
  top: 50px;
  width: 100%;
  height: 0px;
  text-align:center;
}
#popularNearYouButton {
  position: fixed;
  left:30%;
  width: 40%;
  border-radius: 25px;
  font-family:'Raleway',sans-serif;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#popularNearYouContent {
  line-height: 0;
}
.fixed-outside {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align:center;
}
#giveYourStuffButton {
  position: fixed;
  left:20%;
  width: 60%;
  border-radius: 25px;
  font-family:'Raleway',sans-serif;
  font-size: 16px;
  line-height: 0;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#giveYourStuffIcon {
  margin-left: 10px;
  font-size: 30px;
  vertical-align: middle;
}
#giveYourStuffContent {
  margin-top: 12px;
}
/********/

/********/
/* CREATE OFFER */
/********/
/*
input[type=text]
{
    background-color: #33CD5F;
    border:solid 1px #BFBDBD;

    color: #979797;
    height: 28px;
    padding-left:10px;
    width: 191px;
    box-shadow: 2px 2px 0 #828181 inset;
}
*/

.toFill {
  /*background-color: #33CD5F;*/
  border-color: red;
  /*color : #33CD5F;*/
}

.offer-subtitle {
  font-family: 'Lobster';
  font-size: 25px !important;
}

.offer-textInput {
  font-family: 'Lobster';
  font-size: 20px !important;
}

.generalCreateOfferButton{
  border-radius: 25px;
  font-family:'Raleway',sans-serif;
  font-size: 16px;
  line-height: 0;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.createOfferInput{
	text-align:center;
	border-radius: 5px;
}
.createOfferLabel{
	border-radius: 10px;
}
.spaceTop {
	margin-top: 20px;
}
#createOfferButton{
	left: 20%;
	width: 60%;

}
#takePhotoButton{
	width: 100px;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: transparent !important;
}

.backgroundBlack {
    background: black !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}
.centerme {
    margin: 0 auto;
    width: 100%;
    height:100%;
}
 
.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}

.my-items {
  padding: 2px 0px 2px 0px !important;
  border: 0 !important;
}
.wdith.max {
  width:100% !important;
}

.my-file-button{
  border-radius: 50%;
  padding:0;
}
/********/


/********/
/* LOADING */
/********/
.loading{
  background-color: #33CD5F !important;
}

.spinner.light svg {
  stroke: #fff !important;
  fill: #fff !important;
}

/********/

/********/
/* Offer Popup */
/********/
.offerAlert .button {
    background-color: #33CD5F !important;
}
/********/

/*********/
/* Offer */
/*********/
#offerHeaderBar{
  width: 100%;
}
#offerImg{
  width: 100%;
  max-height:280px;
}
.my-margin{
  margin-right: 10px;
}
.my-grey{
  color: #848484;
}
.my-card{
  margin-bottom: 10px;
}
.my-margin-right{
  margin-right: 5px;
}
.my-margin-left{
  margin-left: 5px;
}
.my-icon-size{
  font-size: 30px !important;
}

.angular-google-map-container { 
  display: block;
  height: 400px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  
}


/***********/
/* PROFILE */
/***********/
.my-button-active{
  border-bottom: solid #33CD5F 3px !important;
  font-weight: bold;
}
.no-product-yet{
  padding-top: 100px;
  text-align: center;
}

/******************/
/* UPDATE PROFILE */
/******************/
.my-button-width{
  width:100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}
