/* Empty. Add your own CSS if you like */

/********/
/* MENU */
/********/
.nav-title {
  font-family: 'Lobster';
  font-size: 30px !important;
}
.green {
  color: #33CD5F !important;
}
.my-bar{
  border-color: #33CD5F !important;
}
/********/

/********/
/* HOME */
/********/
.itemDiv{
  text-align: center;
}
.itemDiv img{
  width: 100%;
  border-radius: 5px;
}
.fixed-outside{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align:center;
}
#giveYourStuffButton {
  position: fixed;
  left:20%;
  width: 60%;
  border-radius: 25px;
  font-family:'Raleway',sans-serif;
  font-size: 16px;
  line-height: 0;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#giveYourStuffIcon {
  margin-left: 10px;
  font-size: 30px;
  vertical-align: middle;
}
#giveYourStuffContent {
  margin-top: 12px;
}
/********/


/********/
/* CREATE OFFER */
/********/
.generalCreateOfferButton{
  border-radius: 25px;
  font-family:'Raleway',sans-serif;
  font-size: 16px;
  line-height: 0;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.createOfferInput{
	text-align:center;
	border-radius: 5px;
}
.createOfferLabel{
	border-radius: 10px;
}
.spaceTop {
	margin-top: 20px;
}
#createOfferButton{
	left: 20%;
	position: fixed;
	width: 60%;
	
}
#takePhotoButton{
	left:-50px;
	width: 100px;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: transparent !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
 
.slider {
    width: 100%;
    height: 100%;
}
/********/