serveur/Ot_Sims_Givebox/Ot_Sims_Givebox.Tests/obj/**
serveur/Ot_Sims_Givebox/packages/**
serveur/Ot_Sims_Givebox/Ot_Sims_Givebox/bin/**
serveur/Ot_Sims_Givebox/Ot_Sims_Givebox/obj/**
serveur/Ot_Sims_Givebox/Ot_Sims_Givebox.Tests/bin/**
serveur/Ot_Sims_Givebox/.vs/**
serveur/Ot_Sims_Givebox/Ot_Sims_Givebox/Web.Debug.config
serveur/Ot_Sims_Givebox/Ot_Sims_Givebox.v12.suo
serveur/Ot_Sims_Givebox/Ot_Sims_Givebox/Models/Model.edmx.sql
serveur/Ot_Sims_Givebox/.vs/config/applicationhost.config
serveur/Ot_Sims_Givebox/Ot_Sims_Givebox/App_Data