<ion-view>
  
	<ion-nav-title class="nav-title green">
		Créer une offre
	</ion-nav-title>
	
	
	<ion-content>
	
	
		<form novalidate>
			<div class="row">
				<label class="item item-input item-select spaceTop col col-50">
					<div class="input-label">
						Catégorie
					</div>
					<select ng-model="offer.categorie">
						<option>Mobilier</option>
						<option selected>Informatique</option>
						<option>Automobile</option>
					</select>
				</label>
				<label class="item item-input item-select spaceTop col col-50">
					<div class="input-label">
						Localisation
					</div>
					<select>
						<option>Paris</option>
						<option selected>Lyon</option>
						<option>Bordeaux</option>
					</select>
				</label>
			</div>
			<div class="row">
				<label class="item item-input col createOfferLabel spaceTop">
					<input type="text" class="createOfferInput" ng-model="offer.title" placeholder="Titre de votre offre">
				</label>
			</div>
			<div class="row">
				<label class="item item-input col createOfferLabel spaceTop">
					<input type="text" class="createOfferInput"  ng-model="offer.description" placeholder="Description de votre offre">
				</label>
			</div>
			<div class="row">
				<div class="item createOfferLabel col spaceTop">
					<div class="row">
						<label class="col" >Vos photos</label>
					</div>
					<div class="row" id="offerImages">
					</div>
					<div class="row">
						<div class="col col-offset-50">
								<button class="button button-balanced item-icon-center generalCreateOfferButton" id="takePhotoButton" ng-click="takeAPhoto()">
									<i class="icon ion-android-camera"></i>
								</button>
						</div>
					</div>
				</div>
			</div>
			<!--
			<div class="row">
				<div class="item createOfferLabel col spaceTop">
					<div class="row">
						<label class="col" >Vos vidéos</label>
					</div>
					<div class="row" id="offerImages">
						
					</div>
					<div class="row">
						<div class="col col-offset-50">
								<button class="button button-balanced item-icon-center generalCreateOfferButton" ng-model="offer.video" id="takePhotoButton" ng-click="recordAVideo(offer)">
									<i class="icon ion-android-film"></i>
								</button>
							</div>
						</div>
				</div>
			</div>
			-->
			<div class="row">
				<button class="button button-balanced item-icon-right generalCreateOfferButton spaceTop" id="createOfferButton" ng-click="sendNewOfferRequest(offer)">
					<i class="icon ion-android-add"></i>
					Créer votre offre
				</button>
			</div>
		</form>
	
  </ion-content>
</ion-view>
