<ion-view>

	<ion-nav-title class="nav-title green">
		GiveBox
	</ion-nav-title>

	<ion-content>
	<div class="row">
		<div class="col">
		<form novalidate>

			<div class="list list-inset">
				<!--<div class="row">-->
					<label class="item item-input"> <!--col createOfferLabel spaceTop" id="titleLabel">-->
						<input type="text" class="balanced" ng-model="offer.title" placeholder="Titre de votre offre"></input> <!--class="createOfferInput offer-textInput"
	class="createOfferInput offer-textInput"-->
					</label>
				<!--</div>-->
				<!--<div class="row">-->
					<label class="item item-input"> <!--col createOfferLabel spaceTop" id="descriptionLabel">-->
						<input type="text" class="balanced" ng-model="offer.description" placeholder="Description de votre offre"></input> <!--class="createOfferInput offer-textInput"
	class="createOfferInput offer-textInput"-->
					</label>
				<!--</div>-->
			</div>

			<div class="list list-inset">
				<label class="item item-input item-select"> <!--createOfferLabel spaceTop col" id="categorieLabel">-->
					<div class="input-label balanced"> <!--offer-subtitle">-->
						<strong>Catégorie</strong>
					</div>
					<select ng-model="offer.categorie" ng-options="categorie.name group by categorie.parent for categorie in categories">
						<option value="">Choisir une catégorie</option>
    			</select>
				</label>
			<!--</div>-->

			<!--<div class="row">-->
				<label class="item item-toggle"> <!--col createOfferLabel spaceTop" id="locLabel">-->
					<!--<div class="row">-->
						<div class="balanced"> <!--col col-50 offer-subtitle">-->
							<strong>Ma position</strong>
						</div>
						<label class="toggle toggle-balanced">
				       <input type="checkbox" ng-click="updatePosition()">
				       <div class="track">
				         <div class="handle"></div>
				       </div>
				     </label>
						<!--<button class="col col-50 button button-balanced generalCreateOfferButton text-center" ng-click="updatePosition()">
							Utiliser mon GPS
						</button>-->
					<!--</div>-->
				</label>

				<label class="item item-input">
			    <div class="input-label balanced">
			      <strong>Code Postal</strong>
			    </div>
					<!--
					<input type="text" class="createOfferInput offer-textInput" ng-model="postcode" ng-change="findLocalityFromPostcode()" ng-pattern="regexPostalCode" placeholder="{{postcode}}"></input>
				-->
					<input class="text-right" type="text"  ng-model="offer.postcode" ng-change="findLocalityFromPostcode()"></input> <!--id="postalCodeInput"  class="createOfferInput offer-textInput"-->
				</label>

				<label class="item item-input item-select">
			    <div class="input-label balanced">
			      <strong>Ville</strong>
			    </div>
					<select ng-model="offer.town" ng-options="city for city in cities">
						<option value="">Votre ville</option>
					</select>
			  </label>
			</div>

			<div class="list list-inset">
				<label class="item">
					<span class="balanced"><strong>Photo/Video</strong></span>
				</label>
				<label class="item">
					<ion-scroll direction="x">
						<img ng-repeat="image in allImages" ng-src="{{ image.src }}" ng-click="showImages($index)" class="image-list-thumb"/>
					</ion-scroll>
				</label>
				<label class="item">
					<div class="row">
						<div class="col col-33">
							<button class="button button-balanced my-file-button icon ion-android-camera" ng-click="takeAPhoto()"></button>
						</div>
						<div class="col col-33">
							<button class="button button-balanced my-file-button icon ion-android-folder-open" ng-click="importAPhoto()"></button>
						</div>
						<div class="col col-33">
							<button class="button button-balanced my-file-button icon ion-android-film" ng-click="recordAVideo()"></button>
						</div>
					</div>
				</label>
			</div>

			<div class="list list-inset">
			<!--<div class="row">-->
				<div class="item"> <!-- createOfferLabel col spaceTop" id="picturesLabel">-->
					<div class="row">
						<label class="col balanced text-center"><strong>Vos photos</strong></label> <!--offer-subtitle-->
					</div>
					<a class="item item-list-detail">
						<ion-scroll direction="x">
							<img ng-repeat="image in allImages" ng-src="{{ image.src }}" ng-click="showImages($index)" class="image-list-thumb"/>
						</ion-scroll>
					</a>
					<div class="row">
						<div class="col col-50 text-center">
								<button class="button button-balanced item-icon-center generalCreateOfferButton" id="takePhotoButton" ng-click="takeAPhoto()">
									<i class="icon ion-android-camera"></i>
								</button>
						</div>
						<div class="col col-50 text-center">
								<button class="button button-balanced item-icon-center generalCreateOfferButton" id="takePhotoButton" ng-click="importAPhoto()">
									<i class="icon ion-android-folder-open"></i>
								</button>
						</div>
					</div>
				<!--</div>-->
				</div>


			<div class="row">
				<div class="item createOfferLabel col spaceTop">
					<div class="row">
						<label class="col balanced offer-subtitle" >Vos vidéos</label>
					</div>
					<a class="item item-list-detail">
						<ion-scroll direction="x">
							<img ng-repeat="video in allVideos" ng-src="{{urlForClipThumb(video.src)}}" ng-click="showVideos($index)" class="image-list-thumb"/>
						</ion-scroll>
					</a>
					<div class="row">
						<div class="col text-center">
							<button class="button button-balanced item-icon-center generalCreateOfferButton" ng-model="offer.video" id="takePhotoButton" ng-click="recordAVideo()">
								<i class="icon ion-android-film"></i>
							</button>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<button class="button button-balanced item-icon-right generalCreateOfferButton spaceTop" id="createOfferButton" ng-click="sendNewOfferRequest(offer)">
					<i class="icon ion-android-add"></i>
					Poster
				</button>
			</div>
		</form>
		</div>

		<div>
			{{geolog}}
		</div>

	</div>
  </ion-content>

	<script id="templates/loading.html" type="text/ng-template">
		<ion-spinner class="light"></ion-spinner>
		<br />
		<span>Envoi des informations ...</span>
	</script>
</ion-view>
