<ion-view ng-controller="HomeCtrl">
  <ion-content class="has-bottom">
    <div id="donationsDiv">
      <div class="row">
        <div class="col col-50 itemDiv">
          <!--<img src="img/pokemon_cards.jpg">
          <img src="img/pokemon_cap.jpg">
          <img src="img/pokemon_tshirt.jpg">
          <img src="img/pokemon_socks.jpg">
          <img src="img/pokemon_cards.jpg">
          <img src="img/pokemon_cap.jpg">
          <img src="img/pokemon_tshirt.jpg">
          <img src="img/pokemon_socks.jpg">-->
          <ion-list>
            <ion-item ng-repeat="item in items" ng-show="$odd">
              <img ng-src="{{item.img}}">
            </ion-item>
          </ion-list>
        </div>
        <div class="col col-50 itemDiv">
          <!--<img src="img/pokemon_tshirt.jpg">
          <img src="img/pokemon_socks.jpg">
          <img src="img/pokemon_cards.jpg">
          <img src="img/pokemon_cap.jpg">
          <img src="img/pokemon_tshirt.jpg">
          <img src="img/pokemon_socks.jpg">
          <img src="img/pokemon_cards.jpg">
          <img src="img/pokemon_cap.jpg">-->
          <ion-list>
            <ion-item ng-repeat="item in items" ng-show="$even">
              <img ng-src="{{item.img}}">
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    </ion-content>
    <!--<div class="fixed-outside-up">
      <div class="row">
        <div class="text-center">
          <button class="button button-stable center" id="popularNearYouButton">
            <p id="popularNearYouContent">
              Popular near you
            </p>
          </button>
        </div>
      </div>
    </div>-->
    <div class="fixed-outside">
      <div class="row">
        <div class="text-center">
          <button class="button button-balanced center" id="giveYourStuffButton" ui-sref="app.createOffer">
            <p id="giveYourStuffContent">
              Give Your Stuff<i class="fa fa-camera-retro" id="giveYourStuffIcon"></i>
            </p>
          </button>
        </div>
      </div>
    </div>
</ion-view>
