<ion-view hide-nav-bar="vm.myValue">
  <ion-header-bar class="bar bar-header bar-stable my-bar item-input-inset my-search-header">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <form class="width-max" novalidate ng-submit="keyWordsResearch(keyword)">
        <input class="width-max" type="search" placeholder="What are you looking for ?" ng-model="keyword" required>
      </form>
      <a class="icon ion-close my-clear-button" on-tap="keyword = ''"></a>
    </label>
    <button class="button button-clear green" ng-click="vm.toggle(); getAllOffers()">
      Cancel
    </button>
  </ion-header-bar>

  <ion-content class="has-bottom">
    <div id="donationsDiv">
      <div class="row">
        <div class="col col-50 itemDiv">
          <ion-list>
            <ion-item class="my-items" ng-repeat="item in items" ng-show="$odd">
              <!--<img ng-src="{{item.img}}">-->
              <img ng-src="{{item.Fichier[0].url}}" ng-if="item.Fichier[0] != null" ng-click="openOffer(item)">
              <img ng-src="img/no_img.jpg" ng-if="item.Fichier[0] == null" ng-click="openOffer(item)">
            </ion-item>
          </ion-list>
        </div>
        <div class="col col-50 itemDiv">
          <ion-list>
            <ion-item class="my-items" ng-repeat="item in items" ng-show="$even">
              <!--<img ng-src="{{item.img}}">-->
              <img ng-src="{{item.Fichier[0].url}}" ng-if="item.Fichier[0] != null" ng-click="openOffer(item)">
              <img ng-src="img/no_img.jpg" ng-if="item.Fichier[0] == null" ng-click="openOffer(item)">
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    </ion-content>
    <div class="fixed-outside-up">
      <div class="row">
        <div class="text-center">
          <button class="button button-small button-stable center" id="popularNearYouButton" ng-click="updateLocalisation(); getAllOffers()" >
              Populaire chez toi
          </button>
        </div>
      </div>
    </div>
    <div class="fixed-outside">
      <div class="row">
        <div class="text-center">
          <a class="button button-balanced center" id="giveYourStuffButton" menu-close href="#/app/createOffer">
            <p id="giveYourStuffContent">
              Donne tes trucs<i class="fa fa-camera-retro" id="giveYourStuffIcon"></i>
            </p>
          </a>
        </div>
      </div>
    </div>
</ion-view>
