<ion-view>
  <ion-content class="has-bottom">
    <div id="donationsDiv">
      <div class="row">
        <div class="col col-50 itemDiv">
          <ion-list>
            <ion-item class="no-padding" ng-repeat="item in items" ng-show="$odd">
              <img ng-src="{{item.img}}">
            </ion-item>
          </ion-list>
        </div>
        <div class="col col-50 itemDiv">
          <ion-list>
            <ion-item class="no-padding" ng-repeat="item in items" ng-show="$even">
              <img ng-src="{{item.img}}">
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    </ion-content>
    <div class="fixed-outside-up">
      <div class="row">
        <div class="text-center">
          <button class="button button-small button-stable center" id="popularNearYouButton">
              Popular near you
          </button>
        </div>
      </div>
    </div>
    <div class="fixed-outside">
      <div class="row">
        <div class="text-center">
          <button class="button button-balanced center" id="giveYourStuffButton" ui-sref="app.createOffer">
            <p id="giveYourStuffContent">
              Give Your Stuff<i class="fa fa-camera-retro" id="giveYourStuffIcon"></i>
            </p>
          </button>
        </div>
      </div>
    </div>
</ion-view>
