<ion-modal-view ng-controller="LoginCtrl">
  <ion-header-bar class="bar-stable my-bar">
    <div class="buttons">
      <button class="button button-clear ion-arrow-left-c green my-icon-size" ng-click="closeProfile()"></button>
    </div>
    <h1 class="title green nav-title">GiveBox</h1>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
