<ion-modal-view ng-controller="OfferCtrl">
	<ion-header-bar class="bar-stable my-bar">
		
		<div class="buttons">
			<button class="button button-clear ion-arrow-left-c green my-icon-size" ng-click="closeOffer()"></button>
		</div>
		<h1 class="title green nav-title">GiveBox</h1>
		<div class="buttons">
			<button class="button button-clear ion-ios-heart-outline green my-margin my-icon-size" ng-click=""></button>
			<button class="button button-clear ion-android-share-alt green my-icon-size" ng-click=""></button>
		</div>
		
		
			
	</ion-header-bar>
	
		<ion-content>
				<div class="list card my-card">
					<div class="item item-avatar">
						<img>
						<h2>{{modalData.Utilisateur.Nom}}</h2>
						<p>En cours</p>
					</div>

					<div class="item item-body">
						<h3>{{modalData.Titre}}</h3>
						<ion-slide-box>
							<ion-slide ng-repeat="image in modalData.Fichier">
							<img id="offerImg" class="full-image" ng-src="{{image.url}}">
							</ion-slide>
						</ion-slide-box>
						<p>
							{{modalData.Description}}
						</p>
						
						<div class="row">
							<div class="col">
								<p>
									<i class="icon ion-location my-margin"></i>{{modalData.Latitude}}, {{modalData.Longitude}}
								</p>
							</div>
							<div class="col text-right">
							<button class="button icon-right ion-chevron-right button-balanced" ng-click="init()" ng-show="slideIndex == 0">
								Carte
							</button>
							</div>
						</div>
						<!--<p>
							<a href="#" class="subdued">1 Like</a>
							<a href="#" class="subdued">5 Comments</a>
						</p>-->
					</div>
				</div>

				<br>
				<div id="map" data-tap-disabled="true"></div>
	</ion-content>
	<div class="bar bar-footer">
		<a class="button icon-left ion-help-circled button-outline button-balanced my-margin-left">Pose une question</a>

		<a class="button icon-left ion-android-contact button-balanced my-margin-right">Contacte l'annonceur</a>
	</div>
</ion-modal-view>
