<ion-modal-view ng-controller="ProfileCtrl">
  <ion-header-bar class="bar-stable my-bar">
    <div class="buttons">
      <button class="button button-clear ion-arrow-left-c green my-icon-size" ng-click="closeProfile()"></button>
    </div>
    <h1 class="title green nav-title">GiveBox</h1>
    <div class="buttons">
      <button class="button button-clear ion-ios-settings-strong green my-icon-size" ng-click=""></button>
    </div>
  </ion-header-bar>
  <ion-content class="has-bottom">
    <div class="item item-avatar">
      <img class="my-background-green">
      <h2 ng-if="authentication.userLastName==''">{{authentication.userName}}</h2>
      <h2 ng-if="authentication.userLastName!=''">{{authentication.userLastName}} {{authentication.userFirstName}}</h2>
      <p><i class="icon ion-location "></i> User Location</p>
    </div>
    <div class="button-bar">
      <a class="button my-background-white" ng-class="{'my-button-active': $myIndex === 0}" ng-click="changeIndex(0)">Dons</a>
      <a class="button my-background-white" ng-class="{'my-button-active': $myIndex === 1}" ng-click="changeIndex(1)">Reçu</a>
      <a class="button my-background-white" ng-class="{'my-button-active': $myIndex === 2}" ng-click="changeIndex(2)">Favoris</a>
    </div>
    <ion-slide-box show-pager=false on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box">
          <p class="my-grey no-product-yet">Pas (encore) de produit ici !</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <p class="my-grey no-product-yet">Pas (encore) de produit ici !</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <p class="my-grey no-product-yet">Pas (encore) de produit ici !</p>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-modal-view>
