<ion-modal-view ng-controller="UpdateProfileCtrl">
  <ion-header-bar class="bar-stable my-bar">
    <div class="buttons">
      <button class="button button-clear ion-arrow-left-c green my-icon-size" ng-click="closeUpdateProfile()"></button>
    </div>
    <h1 class="title green nav-title">GiveBox</h1>
  </ion-header-bar>
  <ion-content class="has-bottom">
    <div class="col col-80 col-offset-10">
      <ion-list>
        <ion-item class="my-button-width button button-stable icon-left item-icon-right" ng-click="updateElement(1)">
          <img>
          Avatar
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="no-border" ng-if="updateValue==1">
					<div class="row">
						<div class="col col-33">
							<button class="button button-balanced my-file-button icon ion-android-camera" ng-click="takeAPhoto()"></button>
						</div>
						<div class="col col-33">
							<button class="button button-balanced my-file-button icon ion-android-folder-open" ng-click="importAPhoto()"></button>
						</div>
						<div class="col col-33">
              <button class="button button-clear ion-android-checkbox-outline green my-icon-size" ng-click="sendAvatar()" ng-if="avatarURL"></button>
						</div>
					</div>
				</ion-item>
        <ion-item class="my-button-width button button-stable icon-left ion-android-contact item-icon-right" ng-click="updateElement(2)">
          <span class="my-margin-left" ng-if="authentication.userLastName!=''">{{authentication.userFirstName}} {{authentication.userLastName}}</span>
          <span class="my-margin-left" ng-if="authentication.userLastName==''">{{authentication.userName}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-input no-border" ng-if="updateValue==2">
          <input type="text" placeholder="Prénom" ng-model="userData.Prenom"></input>
          <input type="text" placeholder="Nom" ng-model="userData.Nom"></input>
          <button class="button button-clear ion-android-checkbox-outline green my-icon-size" ng-click="validateUserNames()"></button>
        </ion-item>
        <ion-item class="my-button-width button button-stable icon-left ion-android-lock item-icon-right" ng-click="updateElement(3)">
          <span class="my-margin-left">Mot de passe</span> <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-input no-border" ng-if="updateValue==3">
          <input type="password" placeholder="Ancien mot de passe" ng-model="userData.password.OldPassword"></input>
        </ion-item>
        <ion-item class="item-input no-border" ng-if="updateValue==3">
          <input type="password" placeholder="Nouveau mot de passe" ng-model="userData.password.NewPassword"></input>
        </ion-item>
        <ion-item class="item-input no-border" ng-if="updateValue==3">
          <input type="password" placeholder="Confirmation mot de passe" ng-model="userData.password.ConfirmPassword"></input>
          <button class="button button-clear ion-android-checkbox-outline green my-icon-size" ng-click="validateUserPasswords()"></button>
        </ion-item>
        <!--<ion-item class="my-button-width button button-stable icon-left ion-android-notifications item-icon-right">
          <span class="my-margin-left">Notifications</span> <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>-->
        <ion-item class="my-button-width button button-stable icon-left ion-android-exit" ng-click="logOut(); closeUpdateProfile(); closeProfile()">
          <span class="my-margin-left">Log Out</span>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-modal-view>
